# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Databases
overtime.db
*.db
*.sqlite
*.sqlite3

# Environment files
.env
.env.*

# Logs / temp files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db
